@font-face {
    font-family: Gotham;
    src: url(../fonts/GothamBold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Gotham-Light;
    src: url(../fonts/GothamLight.otf);
    font-weight: lighter;
}

@font-face {
    font-family: Helvetica-Bold;
    src: url(../fonts/HelveticaBold.ttf);
    font-weight: bold;
} 

@font-face {
    font-family: Helvetica-Light;
    src: url(../fonts/HelveticaLight.ttf);
    font-weight: bold;
} 

@font-face {
    font-family: Helvetica-Medium;
    src: url(../fonts/HelveticaMedium.ttf);
    font-weight: bold;
} 

/* Media Queries */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 176px) { 
    .carousel-inner {
        width: 100%;
        height: 200px !important;
        transition: box-shadow 2s, transform 500ms, filter 500ms ease-in-out; 
    }

    .carr0 {
        margin-bottom: 800px !important;

    }
    .register-photo .image-holder {
        display: table-cell;
        width: auto;
        background-size: cover;
        display: none !important;
        max-width: 576px;
    }
    .container {
        padding: 10px !important;
        max-width: 768px;
    }

    .card2 {
        height: 400px;
        max-width: 768px;
    }

    .arrivals {
        height: 60px;
        width: 100%;
        box-shadow: inset -1px 3px 60px 21px rgba(0,0,0,0.25);
    }
    .arrivals1 {
        height: 120px;
        width: 100%;
        box-shadow: inset -1px 3px 60px 21px rgba(0,0,0,0.25);
    }

    .arrivals1 h2{
      padding-top: 10px !important;
      font-size: 40px;
      font-family: Gotham;
    }
    
    .arrivals h2{
        padding-top: 10px !important;
        font-size: 40px;
        font-family: Gotham;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

    .carousel-inner {
        width: 100%;
        height: 450px !important;
    }

    .carousel-caption h5 {
        padding-top: 800px;
    }

    .register-photo form {
        padding: 40px;
        max-width: 991px;
    }

    .social-icons li.title {
      display:block;
      margin-right:0;
      font-weight:600
    }

    .site-footer {
        padding-bottom:0;
      }
      .site-footer .copyright-text,.site-footer .social-icons {
        text-align:center;
      }

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

    .carousel-inner {
        width: 100%;
        height: 600px !important;
    }
    .card1 {
        width: 100%;
        padding: 10px 30px;
        max-width: 1200px;
    }

    .bottom {
        position: relative;
        max-width: 1200px;
    }

    .card2 {
        width: 100%;
        max-width: 1200px;
    }
    .site-footer [class^=col-] {
        margin-bottom:30px
      }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

    .carousel-inner {
        width: 100%;
        height: 600px !important;
    }
 }


 .feat-div img:hover {
    transform: scale(1.2);
    border-radius: 12px;
    box-shadow: 10px 10px 52px 0px rgba(0,0,0,0.87);
 }

 .arrivals h2:hover {
     color: #888888;
 }

 .button-danger:hover{
     background-color: #888888;
 }
